# OS
.DS_Store
.DS_Store?
._*
Thumbs.db
ehthumbs.db

# Environment variables
.env
.env.*
!.env.example

# Docker
docker-compose.override.yml

# PostgreSQL data volume
database/

# Editor
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
logs/

test.sql